{% extends 'main.html' %}

{% block content %}

<div class="row">
    <div class="col-3" style=" overflow:scroll; width: 240px; height: 630px;">
        <div style="text-align: center;"><strong>Total Cases = {{total_cases}}</strong></div>
        <canvas id="myChart" width="50" height="1100" style="margin-left: 0%;"></canvas>
    </div>

    <div class="col-8" style="margin-left: 10px;">
        <!-- <h2>{{heat_map_jsondata}}</h2> -->
        <div id="container" style="height: 600px; width: 800px;"></div>
    </div>
</div>


<!-- Left Bar Graph Chart JS Script -->
<script>
//    import zoomPlugin from 'chartjs-plugin-zoom';
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{country_names | safe}},
            datasets: [{
                label: '# of Cases',
                data: {{cases | safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            // zoom: {
            //         enabled: true,
            //         mode: 'x', // or 'x' for "drag" version
            // },
        }
    });
    function clickHandler(evt) {
        const points = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

        if (points.length) {
            const firstPoint = points[0];
            console.log(firstPoint)
            const label = myChart.data.labels[firstPoint.index];
            // console.log(label)
            window.location('/' + label);
            const value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
        }
    }
    ctx.onclick = clickHandler
    Chart.register(zoomPlugin);
</script>


<!-- World High Maps charts -->
<script>
    
    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) {

        // Prevent logarithmic errors in color calulcation
        data.forEach(function (p) {
            p.value = (p.value < 1 ? 1 : p.value) ;
        });

        // Initialize the chart
        Highcharts.mapChart('container', {

            chart: {
                map: 'custom/world'
            },

            title: {
                text: 'Covid Cases Heat Map'
            },

            legend: {
                title: {
                    text: 'Covid Cases',
                    style: {
                        color: ( // theme
                            Highcharts.defaultOptions &&
                            Highcharts.defaultOptions.legend &&
                            Highcharts.defaultOptions.legend.title &&
                            Highcharts.defaultOptions.legend.title.style &&
                            Highcharts.defaultOptions.legend.title.style.color
                        ) || 'black'
                    }
                }
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            tooltip: {
                backgroundColor: 'none',
                borderWidth: 0,
                shadow: false,
                useHTML: true,
                padding: 0,
                pointFormat:
                    '</span></span> Covid Cases<br>' +
                    '<strong><span style="font-size:15px">{point.name} : {point.value}</span></strong>',
                positioner: function () {
                    return { x: 0, y: 250 };
                }
            },
            
            colorAxis: {
                min: 1,
                max: 100000000,
                type: 'logarithmic'
            },

            series: [{
                data: {{heat_map_jsondata | safe}},
                joinBy: ['iso-a3', 'code3'],
                name: 'Population density',
                states: {
                    hover: {
                        color: '#FF0000'
                    }
                }
            }]
        });
    });
</script>

{% endblock %}