{% extends 'main.html' %}

{% block content %}

<h1>Home Page</h1>

<div class="row">
    <div class="col-3" style=" overflow:scroll; width: 240px; height: 630px;">
        Total Cases = {{total_cases}}
        <canvas id="myChart" width="40" height="1000" style="margin-left: 0%;"></canvas>
    </div>
    <div class="col-8" style="margin-left: 10px;">
        <div id="chartdiv"></div>
    </div>
    <div class="col-3">
        <h1>hi</h1>
    </div>
</div>



<!-- Left Chart Chart JS Script -->
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:{{country_names | safe}},
            datasets: [{
                label: '# of Votes',
                data: {{cases | safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
          indexAxis: 'y',
        }
    });
    function clickHandler(evt) {
        const points = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

        if (points.length) {
            const firstPoint = points[0];
            // console.log(firstPoint)
            const label = myChart.data.labels[firstPoint.index];
            // console.log(label)
            window.location.replace('/' + label);
            const value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
        }
    }
    ctx.onclick = clickHandler
 
</script>


<!-- World Map am charts -->
<script>
        /**
     * ---------------------------------------
     * This demo was created using amCharts 4.
     *
     * For more information visit:
     * https://www.amcharts.com/
     *
     * Documentation is available at:
     * https://www.amcharts.com/docs/v4/
     * ---------------------------------------
     */

    // Create map instance
    var chart = am4core.create("chartdiv", am4maps.MapChart);

    // Set map definition
    chart.geodata = am4geodata_worldLow;

    // Set projection
    chart.projection = new am4maps.projections.Miller();

    // Create map polygon series
    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

    // Make map load polygon (like country names) data from GeoJSON
    polygonSeries.useGeodata = true;

    // Configure series
    var polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}";
    polygonTemplate.fill = am4core.color("#74B266");

    // Create hover state and set alternative fill color
    var hs = polygonTemplate.states.create("hover");
    hs.properties.fill = am4core.color("#367B25");

    // Remove Antarctica
    polygonSeries.exclude = ["AQ"];

    // Add some data
    col = #F05C5C
    polygonSeries.data = [{
        "id": "AF",
        "name": "United States",
        "value": 100,
        "fill": am4core.color("#F05C5C")
        }, {
        "id": "FR",
        "name": "France",
        "value": 101,
        "fill": am4core.color("#5C5CFF")
    }];

    // Bind "fill" property to "fill" key in data
    polygonTemplate.propertyFields.fill = "fill";    
</script>



{% endblock %}