{% extends 'main.html' %}

{% block content %}

<div class="container" style="height: 40%;">
  <div class="row">
    <center><h2>{{country}}</h2></center>
    <hr>
  </div>
  <center>
    <div class="row-fluid">
      Select Different Country: 
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div>
            <select name = 'test' id = 'test' class="selectpicker" data-show-subtext="false" data-live-search="true">
              <option>Select</option>
              {% for c in countries_display %}
                {% for choice in country_map.items %} 
                  {% if choice.0 == c %}
                    <option value={{choice.1}}>{{c}}</option>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </select>
          </div>
          <br> <br>
          <div><input style="float: center;" type="submit" value="Submit" class="btn btn-primary"></div>
        </div>
      </form>
    </div>
  </center>   
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


{% if fig %}
<div style="width:600;height:500">
{{ fig|safe }}
</div>
{% endif %}


{% endblock %}